<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/icon.png" type="image/png">
  <title>Live - Agendamento de equipamentos </title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <style>
    #card{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 640px;
      height: 480px;
      transform: translate(-50%, -50%);
      box-shadow: 1px 1px 10px 2px rgba(20, 20, 20, 0.5);
    }
    
  </style>
</head>
<body>
  <video src="" id="view1" autoplay style="display: none;"></video><br>
  <video src="" id="view2" autoplay style="display: none;"></video>
    
  </video>
  <div id="card">
    <canvas id="canvas" width="640px" height="480px"></canvas>
  </div>
  <script>
    var socket = io();
    var canvas = document.querySelector('#canvas');
    var preview = document.querySelector('img');
    var video1 = document.querySelector("#view1");
    var video2 = document.querySelector('#view2');
    var view = 1;
    var fristView = true;
    var ctx = canvas.getContext('2d');
    var arrayBuffer = [];
    var media;
    var blob;
    var time;
    socket.on('stream', stream => {
      if(stream){
        media = stream.media;
        time = stream.time;
        blob = new Blob(media, {type: 'video/mp4'});
        var url = URL.createObjectURL(blob);
        var reader  = new FileReader();

        reader.onloadend = function () {
          if(view == 1){
            if(fristView){
              video1.src = reader.result;
              video1.pause();
              video1.currentTime = (time / 1000) - 20;
              fristView = false;
            }else{
              video1.src = reader.result;
              video1.currentTime = (time / 1000) - 20;
              view = 2;
            }
          }else if(view == 2){
            video2.src = reader.result;
            video2.currentTime = (time / 1000) - 20;
            view = 1;
          }
        }

        if (blob) {
          reader.readAsDataURL(blob);
        }
      }
    });
    setInterval(() => {
      console.log(view);
      if(view == 2){
        ctx.drawImage(video1, 0, 0);
      }else if(view == 1){
        ctx.drawImage(video2, 0, 0);        
      }
    }, 100);
  </script>
</body>
</html>